<section class="my-5 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">{{ title }} Page</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quam odio molestias vero, totam voluptatibus deleniti inventore voluptas rerum optio aspernatur dignissimos error unde nihil eos molestiae harum hic officiis magni vitae repellat expedita, voluptates quis. Temporibus, dignissimos sunt molestias quos fugit eius modi! Quas ad ut, maiores accusantium illum nam unde. Id atque provident, numquam tenetur modi tempore impedit delectus corrupti officiis architecto! Nisi alias ipsum ea quis veritatis aut ratione earum perspiciatis ipsa eum, tempora saepe repellendus repudiandae repellat. Beatae eum quaerat sit laborum, earum ipsa sunt nesciunt aut cumque voluptatum numquam voluptate deleniti. Amet illum animi cumque!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
